---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import activities from '../mocks/data.json'

const randomActivity = activities[Math.floor(Math.random() * activities.length)]

---

<Layout title="CULTVM">
	<main>
		<section class="flex flex-col items-center justify-center h-screen text-[#e6f0f1] bg-[#001219]">
			<div class="grid place-items-center z-10 -translate-y-10">
				<h1 class="text-6xl font-serif">Bienvenido a CULTVM</h1>
				<p>El mejor lugar para conocer las actividades que estan sucediendo en el pais</p>
			</div>

			<img class="absolute opacity-20 h-screen w-screen object-cover" src={randomActivity.image} alt={randomActivity.image}>


		</section>
	</main>

	<section class="px-64 flex flex-col gap-12 py-8 text-[#e6f0f1] bg-[#001219]">
		<h2 class="font-serif text-4xl text-center">Actividades</h2>

		<div class="grid lg:grid-cols-2 gap-6 grid-cols-1">
			{
				activities.map((activity) => (
					<Card id={activity.id} title={activity.title} body={activity.description} image={activity.image} />
				))
			}
		</div>
	</section>
</Layout>

