---
interface Props {
	id: number;
	title: string;
	body: string;
	image: string;
}

const { id, title, body, image } = Astro.props;
---

<article class="shadow rounded-lg flex flex-col gap-6 bg-[#e7f3f3] text-[#001219]">
	<img class="w-full rounded-t-lg h-64 object-cover" src={image} alt={title}>

	<div class="flex flex-col gap-2 py-4 px-8 overflow-hidden">
		<h3 class="text-lg font-semibold">{title}</h3>
		<p class="text-sm text-pretty text-ellipsis line-clamp-3 w-3/4">{body}</p>
	</div>

	<a href={`/${id}`} class="border w-fit ml-8 mb-8 px-4 py-2 rounded-lg font-medium text-[#e7f3f3] bg-[#001219]">Conocer mas</a>
</article>

